<ion-view view-title="Landing" ng-controller="LandingCtrl as controller">
	<ion-content>
         <div style = "text-align: center">
            <img src="img/ice_cream_thumbnail.jpg" alt="logo" width="250px">
         </div>

   		<button class="col col-80 col-offset-10 button button-outline button-positive" ui-sref="signin">
   			Already have a customer? Sign In
   		</button>
   		   		<button class="col col-80 col-offset-10 button button-outline button-positive" ui-sref="register">
   			New to the app? Create an account
   		</button>
   		   		<button class="col col-80 col-offset-10 button button-outline button-positive" ui-sref="tab.location">
   			Skip sign in
   		</button>

	</ion-content>
</ion-view>
