<ion-view view-title="Account" ng-controller="AccountCtrl as controller">

  <ion-content>
   	<div>
   		<button class="col col-80 col-offset-10 button button-outline button-positive" ng-click="login()">
   			Login
   		</button>
   	</div>
      <div>
         <button class="col col-80 col-offset-10 button button-outline button-positive" ng-click="tran()">
           change
         </button>
      </div>
      <ion-toggle ng-model="broadcastLocation" ng-change="locationOn()">Brocast your location</ion-toggle>

           
  </ion-content>

</ion-view>
