<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Location Tab -->
  <ion-tab title="Location" icon-off="ion-android-bus" icon-on="ion-android-bus" href="#/tab/tab2/location2">
    <ion-nav-view name="tab2-location"></ion-nav-view>
  </ion-tab>

  <!-- Menus Tab -->
  <ion-tab title="Menus" icon-off="ion-icecream" icon-on="ion-icecream" href="#/tab2/menus">
    <ion-nav-view name="tab2-menus"></ion-nav-view>
  </ion-tab>

 <!-- Orders Tab -->
  <ion-tab title="Order" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab2/orders">
    <ion-nav-view name="tab-2orders"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab2/account">
    <ion-nav-view name="tab2-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
